body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;

    background-color: #ffffff;
    background-position: top center;
}
a {
    text-decoration: none; /* убираем подчоркивание*/
    text-transform: uppercase;  /* все ссылки большыми буквами*/
}
.main-navigation{
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    /* text-transform: uppercase; */

    background-color: #eeeeee;
}
.site-navigation {
    list-style: none;
}
.site-navigation a:hover,
.site-navigation a:focus,
.user-basket a:hover,
.user-basket a:focus{
    color: #fb565a;
}
.site-navigation a:active,
.user-basket a:active {
    color: #a6a6a6;
}
/* подчеркивание*/
.active-link{ 
    border-bottom: #fb565a 2px solid;
}
/* изменение состояния лого*/
.header-logo:active {
    stroke: #a6a6a6;
    fill: #a6a6a6;

}
/* загаловок*/
.tagline {
    font-size: 55px;
    line-height: 55px;
}
.text {
    color: #283136;
}
/*кнопки похожие на ссылки*/
.more-info,
.button-order {
    line-height: 18px;
    color: #ffffff;
    background-color:#fb565a;
}
.more-info:hover,
.button-order:hover,
.more-info:focus,
.button-order:focus {
    background-color: #e74246;
}

.more-info:active,
.button-order:active {
    color: #e37376;
    background-color: #d7373b;
}
.button-order-2{
    color: #ffffff;
    background-color: #00ca74;
}
.button-order-2:hover,
.button-order-2:focus{
    background-color: #00bc6c;
}
.button-order-2:active {
    color:#4dc491;
    background-color: #00bc6c;
}
.button-order-3 {
    color: #ffffff;
    background-color: #efc84a;
}
.button-order-3:hover,
.button-order-3:focus {
    background-color: #eab534;
}
.button-order-3:active{
    color: #edc265;
    background-color: #e5a722;
}
/*о нас*/
.about-us-headline {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
}
.about-us-text,
.item {
    color: #283136;
    font-size: 16px;
    line-height: 24px;
}
.about-us-subtitle{
    text-transform: uppercase;
}
.article-subtitle{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.article-item span {
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
}
.article-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
/*кнопки */
.write-us,
.send-us {
    font: inherit;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;

    color: #ffffff;
    background-color:#fb565a;
    border: none;
}



/* изменение состояния логотипов*/
.our-projects-img {

}
.our-projects-img:hover,
.our-projects-img:focus {

}

.project-details {
    display: none;
}
/*для блока який вспливає при наваедені catalog*/
.project-details :hover {
    display: block;
}
.text{
    color:#283136;

}
/*каталог*/
.show-button,
.page-number {
    font: inherit;
    text-transform: uppercase;
    line-height: 18px;
    background-color: #eeeeee;

}
.show-button :hover,
.show-button :focus,
.page-number :hover,
.page-number :focus {
    background-color: #dfdfdf;
}
.show-button :active
.page-number :active {
    color: #959595;
    background-color: #c4b7b7;
}
/*сортировка*/
.sort{
    color: #dadada;
}
.sort :hover,
.sort :focus {
    color: #8d8d8d;
}
.sort :active {
    color: #000000;
}
/*детали проекта при наведении*/
.project-details{
    background-color:#eeeeee;
}
.title{
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #000;
}
.title :hover,
.title :focus {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #fb565a;
}
.title :active{
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #c7c7c7;
}
.project-details p {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #666666;
}
.our-price{
    font: inherit;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;

    color: #ffffff;
    background-color:#fb565a;
    border: none;

}
/*форма обратной связи*/ /*не работают hover focus в форме*/
.write-us-form h2{
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
}
 .write-us-form label{
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
 }
.get-info input {
    font: inherit;
    border: 2px solid #d7dcde;
}
.get-info input :hover{
    border-color:#b4b9bb;
}
.get-info input :focus{
    border-color: #000000;
}
.modal-close{
    border:none;
}

.main-footer{

}
.our-contacts{
    background-color: white;
}
.our-contacts h3{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;

}
.our-contacts-list{
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}
.proposition {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
}
.discounts {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
.